<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SchoolConnectApp"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.SchoolConnect"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" android:exported="false" />
        <activity android:name=".ui.ChildDashboardActivity" android:exported="false" />
        <activity android:name=".ui.GradesActivity" android:exported="false" />
        <activity android:name=".ui.AttendanceActivity" android:exported="false" />
        <activity android:name=".ui.NotificationsActivity" android:exported="false" />
        <activity android:name=".ui.ChangePasswordActivity" android:exported="false" />

    </application>

</manifest>
